<?xml version='1.0' encoding='utf-8'?>
<widget id="nz.co.northwestcountry.buylocal" version="1.7.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>North West Buy Local</name>
    <description>The North West Country Buy Local App is for all those living, working and visiting the North West Country area. In the app, you can search through the business directory which includes contact details and a map for every business, you will receive special deals from local businesses and much more. You will also get rewarded for shopping locally! Simply register yourself in the app, scan the business's unique QR code when shopping, and you'll receive points that you can redeem for entries into our monthly prize draws!</description>
    <author email="info@northwestcountry.co.nz" href="http://www.northwestcountry.co.nz">
	<preference name="phonegap-version" value="cli-7.1.0" />	
    </author>
    <content src="index.html" />
    <icon src="img/android-icon-1.png" />
    <splash src="img/android-splash-1.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
		<icon src="img/android-icon-1.png" density="ldpi" />
		<icon src="img/android-icon-1.png" density="mdpi" />
		<icon src="img/android-icon-1.png" density="hdpi" />
		<icon src="img/android-icon-1.png" density="xhdpi" />
		<splash src="img/android-splash-1.png" width="770" height="1383" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="img/ios-icon-1.png" width="29" height="29" />
        <icon src="img/ios-icon-2.png" width="40" height="40" />
        <icon src="img/ios-icon-3.png" width="50" height="50" />
        <icon src="img/ios-icon-4.png" width="57" height="57" />
        <icon src="img/ios-icon-5.png" width="58" height="58" />
        <icon src="img/ios-icon-6.png" width="60" height="60" />
        <icon src="img/ios-icon-7.png" width="72" height="72" />
        <icon src="img/ios-icon-8.png" width="76" height="76" />
        <icon src="img/ios-icon-9.png" width="80" height="80" />
        <icon src="img/ios-icon-10.png" width="100" height="100" />	
        <icon src="img/ios-icon-11.png" width="114" height="114" />
        <icon src="img/ios-icon-12.png" width="120" height="120" />
        <icon src="img/ios-icon-13.png" width="144" height="144" />
        <icon src="img/ios-icon-14.png" width="152" height="152" />
        <icon src="img/ios-icon-15.png" width="180" height="180" />
        <icon src="img/ios-icon-16.png" width="1024" height="1024" />
		<splash src="img/ios-splash-1.png" width="320" height="480" />
		<splash src="img/ios-splash-2.png" width="640" height="960" />
		<splash src="img/ios-splash-3.png" width="640" height="1136" />
		<splash src="img/ios-splash-4.png" width="750" height="1334" />
		<splash src="img/ios-splash-5.png" width="768" height="1024" />
		<splash src="img/ios-splash-6.png" width="1242" height="2208" />
		<splash src="img/ios-splash-7.png" width="1536" height="2048" />
		<splash src="img/ios-splash-8.png" width="1024" height="768" />
		<splash src="img/ios-splash-9.png" width="2048" height="1536" />		
		<splash src="img/ios-splash-10.png" width="2208" height="1242" />
    </platform>
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" spec="https://github.com/litehelpers/Cordova-sqlite-evcore-extbuild-free" />
	<gap:config-file platform="ios" parent="NSCameraUsageDescription">
	    <string>For scanning QR codes</string>
	</gap:config-file>
</widget>
